<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Animacao</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- class retirado do site https://animate.style/-->
<img class="animate__animated animate__bounce animate__delay-2s animate__infinite" src="\assets\eu.jpg">
<img class="animate__animated animate__flash animate__delay-2s animate__infinite" src="\assets\eu.jpg">
<img class="animate__animated animate__rubberBand animate__delay-2s animate__infinite" src="\assets\eu.jpg">
<img class="animate__animated animate__backInDown animate__delay-2s animate__infinite" src="\assets\eu.jpg">
<img class="animate__animated animate__backOutDown animate__delay-2s animate__infinite" src="\assets\eu.jpg">
</ion-content>
