<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button expand="block" color="secondary" (click)="alert()">Alert</ion-button>
<ion-button expand="block" color="secondary" (click)="multiple()">Multiple Alert</ion-button>
<ion-button expand="block" color="success" (click)="confirme()">Alert Confirmação</ion-button>
<ion-button expand="block" color="success" (click)="prompt()">Prompt</ion-button>
<ion-button expand="block" color="success" (click)="radio()">alert radio</ion-button>
<ion-button expand="block" color="tertiary" (click)="checkbox()">alert checkbox</ion-button>
</ion-content>
