ion-card-header {
  display: flex;
  flex-wrap: wrap;
}
ion-button {
  width: -webkit-fill-available;
  pointer-events: none;
}
P {
  margin-block-start: auto;
  margin-block-end: auto;
  margin-inline-end: auto;
  margin-inline-start: auto;
  text-align: center;
  font-weight: 900;
}

